.painelGrande {
    display: flex;
    background: rgb(45, 38, 46);
    align-items:space-between;
}

.Categoria {
    margin-top: 0px;
    background-color: rgba(121, 74, 128, 0.2);
    border-radius: 30px;
    font-size:0.9em;
    display:flex;
    flex-direction: column;
    padding:7px;
    border: 2px solid #00000080;
    align-items: space-between;
}

.titulo {
    font-family: "Oxanium", sans-serif;
    font-size: 2em;
    color: pink;
    background-color: rgba(121, 74, 128, 0.2);
    text-align: center;
    margin-left:30px;
    margin-bottom:0px;
    margin-top:25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:13%;
    border-top: 2px solid #ffffff81;
    border-left: 2px solid #ffffff81;
    border-right: 2px solid #ffffff81;
}

.barra{
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 50px;
    height: 10px;
    background-color: #fff;
    width: 90%;
    margin-top: 30px;
    margin-bottom:20px;
}

.colunas{
    display:flex;
    flex-direction: column;
    width:80%;
}

.scrollbar{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 30px;
    max-height: 875px;
    overflow-y: auto;
    overflow-x:hidden;
    behavior: smooth;
    align-self:flex-end;


}

.scrollbar::-webkit-scrollbar{
    width: 0px;

}

.scrollbar::-webkit-scrollbar-track{
    background-color: rgb(66, 52, 68);
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color: #9f38da3f;
    width: 10px;
    border-radius: 30px;
    border: 5px solid rgb(66, 52, 68) ;
    
}

.section {
    behavior: smooth;

}

.navMenu {
    display: flex;
    align-items:center;
    width:20%;
}

.navButton {
    all: unset;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;
}


.radio-container {
    --main-color: #aa38ec;
    --main-color-opacity: #da79f71c;
  
    /* change this according inputs count */
    --total-radio: 5;
  
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 0.5rem;
  }
  .radio-container input {
    cursor: pointer;
    appearance: none;
  }
  .radio-container .glider-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(27, 27, 27, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 1px;
  }
  .radio-container .glider-container .glider {
    position: relative;
    height: calc(100% / var(--total-radio));
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      var(--main-color) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: transform 0.5s cubic-bezier(0.37, 1.95, 0.66, 0.56);
  }
  .radio-container .glider-container .glider::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 300%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-color);
    filter: blur(10px);
  }
  .radio-container .glider-container .glider::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 300px;
    background: linear-gradient(
      90deg,
      var(--main-color-opacity) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .radio-container label {
    cursor: pointer;
    padding: 1rem;
    position: relative;
    color: grey;
    transition: all 0.3s ease-in-out;
  }
  
  .radio-container input:checked + label {
    color: var(--main-color);
  }
  
  .radio-container input:nth-of-type(1):checked ~ .glider-container .glider {
    transform: translateY(0);
  }
  
  .radio-container input:nth-of-type(2):checked ~ .glider-container .glider {
    transform: translateY(100%);
  }
  
  .radio-container input:nth-of-type(3):checked ~ .glider-container .glider {
    transform: translateY(200%);
  }
  
  .radio-container input:nth-of-type(4):checked ~ .glider-container .glider {
    transform: translateY(300%);
  }
  
  .radio-container input:nth-of-type(5):checked ~ .glider-container .glider {
    transform: translateY(400%);
  }
  
  .radio-container input:nth-of-type(6):checked ~ .glider-container .glider {
    transform: translateY(500%);
  }
  
  .radio-container input:nth-of-type(7):checked ~ .glider-container .glider {
    transform: translateY(600%);
  }
  
  .radio-container input:nth-of-type(8):checked ~ .glider-container .glider {
    transform: translateY(700%);
  }
  
  .radio-container input:nth-of-type(9):checked ~ .glider-container .glider {
    transform: translateY(800%);
  }
  
  .radio-container input:nth-of-type(10):checked ~ .glider-container .glider {
    transform: translateY(900%);
  }
  