.painel{
    position:relative;
    height: 160px;
    width:150px;
    border-radius:20px;
    border: 3px solid #000000b7;
    background-color: #fff;
    display:flex;
    align-items: center;
    text-align: center;
    padding: 2px;
    background-color: #674c77;
    margin: 10px;
    margin-top: 0px;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.sobrepor{
    border-radius:16px;
    position:absolute;
    width: 140px;
    height:151px;
    background-color: rgba(0, 10, 0, 0.5); /* Cor cinza com opacidade */
    color: white;
    align-self:bottom;
    transform:translateY(105%);
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-bottom:2px;
}

img{
    height: 100%;
    width:100%;
    border-radius:15px;
    text-align: center;
}

.painel:hover{
    filter: drop-shadow(0 0 0.75rem rgb(88, 56, 114));
    background-color: #9e38da;
    /* z-index: 1; */
}

.painel:hover .sobrepor{
    transform:translateY(0);
    bottom:0;
}