.footerPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top:20px;
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: rgb(26, 19, 29);
    color: #fff;
    z-index: 1;
}

.barra {
    background-color: #fff;
    width: 4px;
    border-radius: 10px;
}

.data{
    padding-right: 15px;
}

.footerTexto {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

h2{
    margin-left: 15px;
}

.linkedin {
    margin-right: 10px;
    border-radius: 100px;
}