<div class="carrousselPrincipal">
  <div [ngStyle]="{'background-image':getCurrentImageUrl()}" class="carousel slide" data-bs-ride="carousel">
    <div class="navBar">
      <app-teste></app-teste>
    </div>
    
    <div class="boboes">
      <button (click)="previousImageBtn()" class="botao">
        <
      </button>
      <button (click)="nextImageBtn()" class="botao">
        >
      </button>
    </div>
    <div class="grupoMini">
      <div class="paineis">
        <button 
          (click)="changeCurrentImageUrl(0)" 
          [ngClass]="{'painel-destaque': currentIndex === 0}" 
          class="painel">
          <img [src]="getImageUrl(0)" alt="...">
        </button>
        <button 
          (click)="changeCurrentImageUrl(1)" 
          [ngClass]="{'painel-destaque': currentIndex === 1}" 
          class="painel">
          <img [src]="getImageUrl(1)" alt="...">
        </button>
        <button 
          (click)="changeCurrentImageUrl(2)" 
          [ngClass]="{'painel-destaque': currentIndex === 2}" 
          class="painel">
          <img [src]="getImageUrl(2)" alt="...">
        </button>
        <button 
          (click)="changeCurrentImageUrl(3)" 
          [ngClass]="{'painel-destaque': currentIndex === 3}" 
          class="painel">
          <img [src]="getImageUrl(3)" alt="...">
        </button>
      </div>      
    </div>

    <div class="progressBarContainer">
      <div class="progressBar" [ngStyle]="{ 'width': progress + '%' }"></div>
    </div>
    
  </div>

</div>