.cadastroPrincipal {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: rgb(45, 38, 46)
}

header {
  display: flex;
  flex-direction: column-reverse;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jogoForms form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 740px;
  padding-top: 10px;
  padding-bottom: 10px;
}

label{
    color: #fff;
}

.notaDescricao{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 1em;
}


.notas {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.notas label{
  display: flex;
  margin-top: 10px;
}

.rating{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 40px;
    fill: #666;
  }
  
  .rating:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    fill: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
  }
  
  .rating > input:checked ~ label > svg {
    fill: #ffa723; /* Set color for selected stars */
  } 

.plataformas input[type="radio"] {
  display: none;
}
.plataformas{
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%;
  padding-top:55px;
  padding-bottom:5px;
}

.icones {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;

}

.plataformas label {
  position: relative;
  cursor: pointer;
}

.switch svg {
  position: absolute;
  top: 50px;
  left: 50px;
  transition: opacity 0.3s ease;
  z-index:1;
}

.xbox svg{
  position: absolute;
  top: 50px;
  left: 200px;
  transition: opacity 0.5s ease;
  z-index:1;
}
.playstation svg{
  position: absolute;
  top: 50px;
  left: 350px;
  transition: opacity 0.5s ease;
  z-index:1;
}
.computador svg{
  position: absolute;
  top: 50px;
  left: 500px;
  transition: opacity 0.5s ease;
  z-index:1;
}

.switch .icon-checked{
  filter: drop-shadow(0 0 0.85rem rgb(255,69,84));
}

.xbox .icon-checked {
  filter: drop-shadow(0 0 0.85rem rgb(44,162,67));
}

.playstation .icon-checked {
  filter: drop-shadow(0 0 0.85rem rgb(46,109,180));
}

.computador .icon-checked{
  filter: drop-shadow(0 0 1rem rgb(88, 56, 114));
}

.icon-checked {
  opacity: 0;
}


.icon-unchecked {
  opacity: 1;
}

.plataformas input[type="radio"]:checked + label .icon-checked {
  opacity: 1;
}

.plataformas input[type="radio"]:checked + label .icon-unchecked {
  opacity: 0;
}

.imagemUpload{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.linhaUrl{
  display: flex;
  width: 100%;
}

.urlJogo {
  display: flex;
  width: 60%;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #29222cd3;
  color: #ccc;
}

.error-message {
  position:absolute;
  display: flex;
  align-self:flex-start;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.imagemPreview {
  width: 640px;
  height: 360px;
  border: 2px dashed #403a44;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(40, 30, 41);
  border-radius: 10px;
}

.imagemPreview img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.botaoImagem {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.upload-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ajuste o tamanho do botão */
  height: 40px;
  background-color: #832cb9ab; /* Cor de fundo */
  color: #bbadc4; /* Cor do símbolo "+" */
  font-size: 20px; /* Tamanho do símbolo "X" */
  border: none;
  border-radius: 50%; /* Torna o botão circular */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  top:7px;
  right:7px;
}

.upload-btn:hover {
  background-color: #832cb9; /* Cor ao passar o mouse */
  transform: scale(1.1); /* Aumenta o botão ligeiramente */
}

.upload-btn:active {
  background-color: #4a148c; /* Cor ao clicar */
}

.upload-btn input[type="file"] {
  display: none; /* Esconde o botão padrão do navegador */
}


.plataformasGeral span {
  color: #ccc;
}

.textos, .plataformasGeral, .categorias {
  background-color: #3d2b42;
  padding: 15px;
  border-radius: 10px;
}

.textos input, textarea{
  width:100%;
  border-radius: 10px;
  background-color: #29222cd3;
  color: #ccc;
}

.textos input.dataText{
  color: #ccc;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.categorias{
  height: 80%;
  width: 30%;
}

.painelCategorias {
  height: 75%;
  width: 100%;
  background-color: #29222cd3;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.painelCategorias input {
  width: 100%;
  border-radius: 5px;
  color: #4a148c;
}

.dropdown {
  background-color: #29222cd3;
  border-radius: 5px;
  list-style: none;
  position: absolute;
  margin: 5px 0 5px;
  padding: 10px;
  width: 97%;
  z-index: 1;
  max-height: 150px;
  overflow-y: scroll;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
  color: #ccc;
}

.dropdown li:hover {
  background-color: #403a44;
}

.tagsCategorias {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  font-size: 16px;
  background-color: #6a1b9a;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  margin-left: 5px;
}

.final {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  height: 15%;
}

.final input{
  font-size: x-large;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #8e24aa;
}

.final input {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.final input {
  background: rgb(139, 9, 199);
  box-shadow: 0 0 25px rgb(139, 9, 199);
}

.final input:hover {
  box-shadow: 0 0 10px rgb(139, 9, 199),
              0 0 10px rgb(139, 9, 199),
              0 0 20px rgb(139, 9, 199),
              0 0 35px rgb(139, 9, 199);
}

.overlay_success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Escurecimento */
  backdrop-filter: blur(5px); /* Blur */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.success_box {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1;
}

.success_box h2 {
  color: green;
  margin-bottom: 10px;
}

.success_box button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success_box button:hover {
  background: darkgreen;
}

.error {
  display: flex;
  color: red;
  margin-top: 10px;
  top: 5px;
  font-size: 14px;
  text-align: center;
  background: #ffe6e6;
  position:absolute;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
}