<div class="colunas" >
    
    <div class="botoes">
        <button (click)="scrollLeft()" class="atras">
            <
        </button>

        <button (click)="scrollRight()" class="frente">
            >
        </button>
    </div>

        <div class="colunaGeral" #colunaContainer id="colunaContainer">
            <!-- Criação dinâmica das colunas -->
            <div class="coluna" *ngFor="let grupo of grupoJogos">
              <!-- Adicionar os jogos dinamicamente em cada coluna -->
              <app-mini-painel 
                *ngFor="let jogo of grupo"
                [jogo]="jogo">
              </app-mini-painel>
            </div>
        </div>

</div>

<!-- bug report1: quando pressiona a tecla tab o mini painel está bugando... -->