<div class="colunas">
    
    <div class="botoes">
    <button (click)="previousColumn()" class="atras">
            <
        </button>
        <button (click)="nextColumn()" class="frente">
            >
        </button>
    </div>
    
    <div class="colunaGeral" #colunaContainer id="colunaContainer">
        <div class="coluna" #coluna *ngFor="let column of columns" >
            <app-mini-painel> </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
        </div>
        <div class="coluna" #coluna *ngFor="let column of columns" >
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
        </div>
        <div class="coluna" #coluna *ngFor="let column of columns" >
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
            <app-mini-painel > </app-mini-painel>
        </div>
    </div>



</div>

<!-- bug report1: quando pressiona a tecla tab o mini painel está bugando... -->